# Секреты окружения (САМОЕ ГЛАВНОЕ!)
.env

# Зависимости проекта (папка создаётся при npm install)
node_modules/

# Логи, которые может генерировать ваше приложение в процессе разработки
*.log
заметки.txt

# Служебные файлы операционной системы
.DS_Store
Thumbs.db

# Служебные файлы редактора кода (если используете VS Code)
.vscode/
archive/